.tech-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.tech-list span {
  display: inline-block;
  background: #2563eb;
  color: white;
  padding: 8px 16px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}
