.blog-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
  background-color: white;
}

.blog-card h2 {
  margin-bottom: 10px;
}

.blog-card span {
  color: #2563eb;
  font-weight: 600;
}
.blog-link {
  text-decoration: none;
  color: inherit;
}
.card-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
