.blog-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  margin: 20px 0;
  background-color: white;

  display: flex;
  flex-direction: column;
  min-height: 320px;
}

.blog-link {
  text-decoration: none;
  color: inherit;

  flex: 1;
}

.blog-card h2 {
  margin-bottom: 10px;
}

.blog-card span {
  color: #2563eb;
  font-weight: 600;
}

.card-actions {
  margin-top: auto;

  display: flex;
  align-items: center;
  gap: 15px;

  padding-top: 20px;
  border-top: 1px solid #eee;
}

.card-actions a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 600;
}

.card-actions button {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
