.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #1e293b;
}

.logo {
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 32px;
  color: white;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #38bdf8;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #38bdf8;
}
